*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.link{
    flex-direction: column;
    background-color: #000;
    float: left;
    height:100vh
        /* padding:15px ; */
    
}
ul li{
    margin: 20px;
    list-style: none;

}
 i{
    color: #fff;
 }
  ul h3{

  }
    h1{
        /* margin: auto;  */
        text-align: center;
        /* justify-content: center; 
        display: flex; */
    }