 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .link{
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 10%;
    height: 100vh;
    position: fixed;
    top : 0;
    left: 0;
    background-color: #000;
    

 }

 
 .link ul{
   list-style: none ;
   margin-left: 200px;
    padding-bottom: 30px; 
    width: 100%; 
}

ul li{
   width: 100%;
}
.link ul li{
    list-style: none;
    margin-left: -80px;
}
 

 i{
    color: #fff;
    margin: 5px;
    padding-right: 80px;
    width: 30px;
    height: 50px;

    font-size:1.5rem;
    margin-right: 90px;
 }