 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 .Work-heading h1{
   text-align:  start;
   margin-left: 200px;
 }
      .container {
         display: flex;
         justify-content: space-between;
         align-items: center;

         margin-top: 20px;
         
      }
 .date {
   width: 300px;
   
   margin-left: 200px;
   margin-bottom: 60px;
  
}
.page{
   width: 60%;
   font-size: 14px;
   }

   .content li{
      list-style: none ;
   }
   